/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

/*
Updated by Mengz You (mengz.you@gmail.com)
*/

*
{
    border: 0;
    margin: 0;
}

img
{
    border: 0px;
}

body{
    font: 12px Arial, Helvetica, sans-serif;
    background: url('../images/bg.jpg');
}

.antiqua{}


#container{
    background: url('../images/bg_bottom_2.jpg') center bottom no-repeat;
}

#bg_top{
    background: url('../images/bg_top_2.jpeg') center top no-repeat;
}

#top_line {
    height: 6px;
    background-color: black;
}

/*navigation*/
#navigation {
    width: auto;
    background-color: #666666;
}

#navigation ul {
    width: 1050px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 3px;
}

#navigation li {
    display: inline;
}

#navigation a:link,a:visited {
    color:#ffffff;
    text-align: center;
    padding: 9px 20px 3px;
    text-decoration: none;
/*    text-transform: uppercase;*/
    font-size: large;
    font-weight: bold;
}

#navigation a:hover {
    background-color: #BBBBBB;
}

.active a {
    background-color: #4B4A4A;
}

#main {
    width: 1050px;
    margin: 0 auto;
}

#header {
    height: 120px;
    color: #fff;
}

/*logo*/
#logo {	
    padding: 5px 0px 0px 20px;
    color: #fff;
    float:right;
}

.logo_span{
    font-weight: bold;
    font-size: 24px;

}

.logo_space{
    padding: 0 0 0 50px;}


#logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#logo H2 a{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


#top{ 
    height: 200px;
    padding: 24px 0 0 0;
} 

.top_span_36{
    font-size: 36px;
    line-height: 30px;
}
.top_span_48{
    font-size: 48px;
    line-height: 30px;
}

.uppercase{
    text-transform: uppercase;}


/*menu*/
#buttons{
    text-align:center;
    height: 150px;
    margin-left: 0px;
    padding: 25px 0px 0px 20px;
    background: url(images/but_bg.png) left top no-repeat;
}


.my_but1 {
    background: url(images/but1.png) top center no-repeat;
    width: 160px;
    height: 94px;
    display: block;
    padding-top: 90px;
    font-weight: bold;
    font-size: 24px;
    color: #0066A1;
    text-decoration: none;
}

.my_but2{
    background: url(images/but2.png) top center no-repeat;
    width: 160px;
    height: 94px;
    display: block;
    padding-top: 90px;
    font-weight: bold;
    font-size: 24px;
    color: #0066A1;
    text-decoration: none;
}

.my_but3{
    background: url(images/but3.png) top center no-repeat;
    width: 160px;
    height: 94px;
    display: block;
    padding-top: 90px;
    font-weight: bold;
    font-size: 24px;
    color: #0066A1;
    text-decoration: none;
}

.my_but4{
    background: url(images/but4.png) top center no-repeat;
    width: 160px;
    height: 94px;
    display: block;
    padding-top: 90px;
    font-weight: bold;
    font-size: 24px;
    color: #0066A1;
    text-decoration: none;
}

.my_but5{
    background: url(images/but5.png) top center no-repeat;
    width: 160px;
    height: 94px;
    display: block;
    padding-top: 90px;
    font-weight: bold;
    font-size: 24px;
    color: #0066A1;
    text-decoration: none;
}

.but_size{
    width: 160px;
    height: 64px;
}

.but1 {
    display: block;
    float: left;
    width: 160px;
    height: 150px;
    padding-top: 0px;
    background: url(images/but.png) left top no-repeat;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-weight: normal;

}

.but1:hover {
    color:#0066A1;
    text-decoration:underline;
    background: url(images/but_hover.png) 0 0 no-repeat;
    font-style: italic;

}

.but_razd { 
    width: 37px;
    height: 10px;
    float: left;}

/*content*/
#content{
    min-height: 100%;
}

#content_bg{
    background: url('../images/content_bg.gif') left repeat-y;
    color: #666666;
}

#content_bg_bott{
    background: url('../images/content_bg_bott.gif') left bottom no-repeat;
}


#content_left{
    float: left;
    width: 250px;
    min-height: 310px;
    padding: 0 10px 20px 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #227AAE;
    padding: 10px 20px 10px 0;
}

.span_lh{
    line-height: 17px;
}

.span_data{
    text-decoration: underline;
    line-height: 25px;
}

.read_more{
    text-align: right;
    padding: 2px 4px 0px 0px;
}

.read_more a {
    font-size: 12px;
    color: #005D93 !important;
    text-decoration: none !important;
    font-weight: bold;

}

.read_more a:hover {
    font-size:12px;
    color:#005D93;
    text-decoration: underline !important;
}

#content_right{
    float: right;
    width: 730px;
    margin-right: 0px;
    padding: 0 20px 20px 20px;
    min-height: 310px;
}

#video_main {
    width: 320px;
    height: 240px;
    float: left;
    padding-right: 10px;
}

#content_bottom, #content_one {
    padding: 10px 20px 20px 30px;
    color: #666666
}

#content_one img {
    float: right;
}

#seprate_line, #blog_line {
    margin: 6px 3px;
    height: 2px;
    background-color: #666666;
}

.phot{
    float: left;
    padding: 5px 30px 0 0;
}

.content_bg {
    background: #D9D7D7;
    border-bottom: 6px solid #BBBBBB;
}

/*row_bottom*/

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 20px;
}

#bottom{
    height: 190px;
    margin: 0 auto;
    padding-top: 20px;
    color: #FFFFFF;
}

.bottom_box1{
    width: 165px;
    float:left;
    margin-left: 17px;
}


.bottom_ul{
    padding: 5px 0 0 28px;
    list-style: none;
}

.bottom_ul li{
    background: url('../images/bottom_ul.gif') left 4px no-repeat;
    padding: 0px 0 6px 19px;}

.bottom_ul li a{
    color: #fff;
    text-decoration: none;
}

.bottom_ul li a:hover{
    color: #fff;
    text-decoration: underline;
}

.bottom_box2{
    width: 425px;
    float:left;
    margin-left: 80px;
}

.bottom_box3{
    float:left;
    width: 225px;
    margin-left: 70px;
}

.ul_img_link{
    padding: 0px 0 15px 30px;
}

.ul_img_link a{
    color: #FFFFFF;
    text-decoration: none;
}

.ul_img_link a:hover{
    color: #FFFFFF;
    text-decoration: underline;
}

.ul_img_link1{
    background:url('../images/bottom_fish1.png') top left no-repeat;
}
.ul_img_link2{
    background:url('../images/bottom_fish2.png') top left no-repeat;
}
.ul_img_link3{
    background:url('../images/bottom_fish3.png') top left no-repeat;
}
.ul_img_link4{
    background:url('../images/bottom_fish4.png') top left no-repeat;
}
.ul_img_link5{
    background:url('../images/bottom_fish5.png') top left no-repeat;
}


/*footer*/

#foot_line {
    margin-top: 6px;
    height: 2px;
    background-color: #4B4A4A;
}

#footer{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    padding: 20px 0px 0px 20px;
    height: 40px;
}

#footer a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

#footer a:hover{
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
}
